h1, h2, .button-div {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 7em;
    line-height: 0;
    font-family: 'Luckiest Guy', cursive;
}

.button-div {
    text-align: center;
}

.button-div vaadin-button {
    margin: auto 5px;
    font-size: 3em;
}


